
  /* Estilos del contenido principal */
  main {
    padding: 20px;
  }
  body{
    background-image: none;
  }

  section {
    display: none;
    text-align: center;
    margin-bottom: 20px;
  }
  h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
  }
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
  }
  
  p {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  /* Estilos del pie de página */
  footer {
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  #avatares{
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }